.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
}

#display {
    text-align: right;
    height: 60px;
    line-height: 70px;
    padding: 14px 6px;
    font-size: 24px;
    background-color: #8787f0;
}

.ac {
    grid-column-start: 1;
    grid-column-end: -1;
}

.equal {
    grid-column-end: -1;
    grid-column-start: 3;
}

.del {
    grid-column-start: 1;
    grid-column-end: -3;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #000;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.btn {
    border: .5px solid #999;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    color: #8787f0;
}

#equal {
    background-color: #8787f0;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.btn:hover {
    background-color: #000000;
    color: #fff;
    transition: .5s ease-in-out;
}